<div class="navbar navbar-default">
  <div class="container-fluid">
      <%= link_to 'Restaurants', root_path, class: 'navbar-brand' %>

      <%= link_to 'Add New Restaurant', new_restaurant_path, class: 'navbar-link' %>

  </div>
</div>

